@font-face {
	font-family: Comforter;
	src: url(Comforter/Comforter-Regular.ttf);
}

@font-face {
	font-family: Sacramento;
	src: url(Sacramento/Sacramento-Regular.ttf);
}

 @font-face {
	font-family: BadScript;
	src: url(Bad_Script/BadScript-Regular.ttf);
} 

@font-face {
	font-family: Cinzel-Regular;
	src: url(Cinzel/static/Cinzel-Regular.ttf);
} 

@font-face {
	font-family: CinzelDecorative-Regular;
	src: url(Cinzel_Decorative/CinzelDecorative-Regular.ttf);
} 

@font-face {
	font-family: Licorice-Regular;
	src: url(Licorice/Licorice-Regular.ttf);
} 

@font-face {
	font-family: NixieOne-Regular;
	src: url(Nixie_One/NixieOne-Regular.ttf);
} 

@font-face {
	font-family: roboto;
	src: url(roboto.thin.ttf);
} 

@font-face {
	font-family: quicksand;
	src: url(quicksand.light-regular.otf);
}

@media screen and (min-width: 500px)
{
			html{
			box-sizing: border-box;
			 
		}

		

		body{
			font-family: quicksand;			
		 	margin: 0px;
		 	background: url("pic1.jpg");

		 	color: white;
		} 

		main{
			margin-top: 40px;
			font-size: 1.5vw;
			margin-left: 3.5vw;  

		}

		li, div{
			display: block;
			width: 60%;

		}

		h4{
			
			width: 40%;
		}

		h3{
			display: inline-block;
		}


		 
		header {
			 
			height: 4vw;  
			background: linear-gradient(to right, black, darkgray);	
			font-size: 1.5vw;
			width: 100%;
			 

		}

		nav{
			     
			  /*  height: 100%; */
			    width: 100%;
			    box-sizing: border-box;
			    padding-top: 1.5vw;;
			    
		}

		 
		a{
			  
			  box-sizing: border-box; 
			 width:  calc(100% / 4);
			 display: inline-block;  
			 text-align: center;
			 height: 100%;	  
		}

		 


		a{
			text-decoration: none;
			color: white; 
		}



		.changeSize {
			font-size: 18px;
		}

		.defaultSize {
			font-size: 25px;
		}

		img{
			width: 100%;
			margin-top: 1vw;
		}
}

@media screen and (max-width: 499px)
{
		html{
		box-sizing: border-box;
				 
	}

	body{
		font-family: quicksand;
		  
	 	
	 	background: url("pic1.jpg");
	 	background-size: auto;
	 	background-repeat: no-repeat;  
	 	
	}

	main{
			margin-top: 40px;
			font-size: 5vw;


			    
		}



	a{
		display: block;
		text-decoration: none;
		  background: linear-gradient(to right, black, darkgray);	 
		color: white;  
		margin-bottom: 3px;
		padding: 10px;
	}


	img{
		width: 100%;
		display: none;
	}

	li{
	 display: block;  
	width: 100%;
	 
	}

	 
}

main h3{
	text-decoration: none;
	color: white; 
	background-color: black;
	padding: 5px; 
	font-weight: normal;
}  

h4, li, div{
	padding: 5px;
	color: white;
	background-color: black;
	margin-bottom: 3px; 
	list-style: none;
	font-weight: normal;
	
	 
}

 
h4{
	margin-bottom: 6px;
}

div{
	margin-left: 10px;
	margin-bottom: 6px; 
}


 









/* ---- Layout mode > CSS Multi-column Layout ----
	column-count
	column-gap
	column-rule
	column-rule-color
	column-rule-style
	column-rule-width
	column-span
	column-width

*/

/* ---- Layout mode > CSS Grid Layout---- 
	grid-template-columns
	grid-column-start
	grid-column-end
	grid-column
	grid-template-rows
	grid-row
	justify-self

*/

/* ---- OTHER Layout mode TOPICS TO STUDY  ----
	CSS Positioned Layout
	CSS Table

*/


/* -- CSS Grid Layout and Accessibility */
